.container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #eaeaea!important;
}
@media only screen and (min-width: 1000px){
    .box {
        padding: 40px 50px;
        border-radius: 10px;
        box-shadow: 0 2px 6px 0 rgb(26 24 30 / 8%);
    }
}

.banner{
    width: 100%;
    margin-bottom: 15px;
}
.section-header {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: .1em;
    margin: 10px 0 20px;
    font-size: 15px;
}
.horline {
    background: #fff;
    padding: 0 10px;
    font-size: 17px;
}
.title-cont {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}
.categories {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto;
}
.category{
    margin-bottom: 30px;
}
.category-img {
    width: 100px;
    height: 70px;
    margin-bottom: 3px;
    border-radius: 10px;
}
.category-title {
    font-size: 13px;
    text-align: center;
}
.top-pick{
    padding: 8px;
    width: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 80px;
}